html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.app-image {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 3em;
    user-select: none;
    pointer-events: none;
}

a {
    color: rgba(0, 0, 0, 0.5);
}

h5 {
    opacity: 0.4;
}

.websites-policies {
    width: fit-content;
    margin: auto;
    padding: 1em;
}

nav {
    width: fit-content;
    position: fixed;
    right: 0;
}

nav ul {
    list-style-type: none;
    min-width: 300px;
    display: flex;
}

nav ul li {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
